<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> PETSTAGRAM </title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Card icon CDN Link -->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon link -->
    <link rel="shortcut icon" href="../static/Images/favicon/favicon.ico">


    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<!-- Move to up button -->
<div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
</div>
<!-- navgaition menu -->
<nav>
    <div class="navbar">
        <div class="logo"><a href="#">Petstagram</a></div>
        <ul class="menu">
            <li><a href="#home" id="homebutton">Home</a></li>
            <li><a href="#about">Photo</a></li>
            <li><a href="#skills">Video</a></li>
            <li><a href="#services">Quiz</a></li>
            <li><a href="#contact">Contact</a></li>
            <div class="cancel-btn">
                <i class="fas fa-times"></i>
            </div>
        </ul>
    </div>
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
</nav>

<!-- Home Section Start -->
<section class="home" id="home" style="background-color: #F0F8FF">
    <!-- <img style="position: absolute; bottom: 10px; width: 100%; height: 100%; background-color: #F0F8FF;"> -->
    <div class="home-content">

        <div class="text" style="position: absolute; width: 90%;" id="home_title">
            <div class="text-one">우리의 좋아요 왕은!</div>
            <div class="text-two" id="name"><p>입니다.</p></div>
            <div class="text-three">여러분들의 반려동물을</div>
            <div class="text-four">지금 바로 자랑해 보세요!</div>
            <div class="button">
                <button onclick="window.open('petadd')">자랑하러 가기</button>
            </div>
        </div>


    </div>
</section>

<!-- About Section Start -->

<section class="about" id="about" style="position: inherit; background-color: white">
    <div class="content">
        <div class="title"><span>내새끼 소개하기</span></div>
        <div class="about-details">
            <div class="detailinfo showstep1">


                <!--                        정렬방식-->
                <form style="float: right; margin: 0px 20px 0px 20px">
                    <select name="array" id="array" style="text-align: center; margin-top: 10px" onchange="array_check()">
                        <option value="laster">최신순</option>
                        <option value="heart">누적 하트순</option>
                        <option value="monthly_heart">월간 하트순</option>
                        <option value="weekly_heart">주간 하트순</option>


                    </select>
                </form>
                <!--                검색창-->
                <div style="float: right; width:550px ">
                    <input class="input_types" placeholder="태그를 입력하세요 ex) #펫스타그램">
                </div>

                <div>
                    <!--                    추가하기-->
                    <div style="display: block; float: right; width: 200px">
                        <a onclick="window.open('petadd')" target=”_blank” type="button" style="width: 100px; "><img
                                style="width: 30px;height: 30px; position:relative; top:10px;"
                                src="https://us.123rf.com/450wm/briang77/briang771511/briang77151100053/48638940-%EB%8D%94%ED%95%98%EA%B8%B0-%EA%B8%B0%ED%98%B8-%EB%B2%A1%ED%84%B0-%EC%95%84%EC%9D%B4%EC%BD%98.jpg?ver=6">추가하기</a>
                    </div>
                </div>
                
                <!--                    슬라이더-->
                <div class="slider_wrapper" style="margin-top:100px;">
                    <ul class="slides" id="pet_list">


                    </ul>
                </div>

            </div>
        </div>
        <p class="controls">
            <span class="prev"><</span>
            <span class="next">></span>
        </p>


    </div>
</section>

<!-- My Skill Section Start -->
<!-- Section Tag and Other Div will same where we need to put same CSS -->
<section class="skills" id="skills">
    <div class="content">
        <div class="title"><span>Video</span></div>
        <div class="q_container" style="height: 550px; margin-left:150px;">
            <div style="display: flex; list-style:none; margin-top: 100px; margin:150px auto; text-align: center">

                <li>
                    <a href="https://youtu.be/ibXpVGvZaWs"><img src="../static/Images/kang_1.png"
                                                                style="width: 500px; margin:0 50px 0 -150px"></a>
                </li>
                <li>
                    <a href="https://youtu.be/2Behp58mrXA"><img src="../static/Images/kang_2.png"
                                                                style="width: 500px; margin:0 50px 0 0px"></a>
                </li>

                <li>
                    <a href="https://youtu.be/0xO9AB5huIs"><img
                            src="../static/Images/kang_3.png" style="width: 500px"></a>
                </li>
            </div>
        </div>
    </div>
</section>

<!-- My Services Section Start -->
<section class="services" id="services">
    <div class="content">
        <div class="title"><span>Quiz</span></div>
        <div class="q_container" style="height: 550px">
            <div class="q-wrap">
                <div class="fyrebox_quiz" data-gid="3kkmORWrK" data-oid="6NNR6nJzP"
                     style="width: 600px;margin-left:50px; "></div>
                <script src="https://www.fyrebox.com/javascripts/fyrebox.min.js?2" defer="defer" async></script>
                <div class="fyrebox_quiz" data-gid="6NNRpp8dr" data-oid="6NNR6nJzP"
                     style="width: 600px;  margin-left:200px;"></div>
                <script src="https://www.fyrebox.com/javascripts/fyrebox.min.js?2" defer="defer" async></script>
            </div>
        </div>
    </div>
</section>

<!-- Contact Me section Start -->
<section class="contact" id="contact">
    <div class="content">
        <div class="title"><span>Contact</span></div>
        <div style="display: flex;">

            <div class="the_wrap">
                <!-- 클릭 시 링크 설정 -->
                <a href="https://atti-world.tistory.com/">

                    <div class="cardd">
                        <!-- 카드 헤더 -->
                        <div class="cardd-header02">
                            <div class="cardd-header-is_closed">
                                <div class="cardd-header-text">Tstory</div>
                                <div class="cardd-header-number">광고중</div>
                            </div>
                        </div>


                        <!--  카드 바디 -->
                        <div class="cardd-body">
                            <!--  카드 바디 헤더 -->
                            <div class="cardd-body-header">
                                <h1>앳띠의 내맘대로 월드</h1>
                                <p class="cardd-body-hashtag">#이것저것 #내맘대로 #리뷰</p>
                                <p class="cardd-body-nickname"></p>
                            </div>

                            <p class="cardd-body-description">
                                맛집과 여행지 소개하는 티스토리입니당~~
                            </p>
                            <!--  카드 바디 본문 -->
                            <!--  카드 바디 푸터 -->
                            <div class="cardd-body-footer">
                                <hr style="margin-bottom: 8px; opacity: 0.5; border-color: #EF5A31">
                                <i class="icon icon-view_count">&#128064</i>조회 20회
                                <i class="icon icon-comments_count">&#128172;</i>댓글 5개
                                <i class="reg_date"> 2021/09/24 </i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Footer Section Start -->
<footer>
    <div class="text">
        <span>Created By <a href="#">Group5 members</a> | CC by CodingLab</span>
    </div>
</footer>

<script src="../static/script.js"></script>
</body>
</html>
