<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>

    <meta charset="UTF-8">
    <title> Responsive Contact Us Form | CodingLab </title>
    <link rel="stylesheet" href="./static/petaddstyle.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        $(document).ready(function () {

        });


        function petadd() {
            console.log('pp')
            //id=title/content 값을 각가 변수에 저장
            //id=file에 들어있는 파일을 file변수에 저장
            //각 변수를 form_data 생성후 추가
            let name = $('#name').val();
            let type = $("#type").val();
            let note = $("#note").val();
            let file = $('#upload_file')[0].files[0];
            let form_data = new FormData();
            form_data.append("file_give", file);
            form_data.append("name_give", name);
            form_data.append("type_give", type);
            form_data.append("note_give", note);
            //ajax로 폼데이터 전송
            $.ajax({
                type: "POST",
                url: "/api/petadds",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.opener.location.reload();
                    window.close()
                }
            });
        }

        // 사진 미리보기함수
        function preview() {
            let img_result = 'false';

            const reader = new FileReader();

            reader.onload = (readerEvent) => {
                document.querySelector("#img_section").setAttribute("src", readerEvent.target.result);
                //파일을 읽는 이벤트가 발생하면 img_section의 src 속성을 readerEvent의 결과물로 대체함
            };

            document.querySelector("#upload_file").addEventListener("change", (changeEvent) => {
                //upload_file 에 이벤트리스너를 장착

                const imgFile = changeEvent.target.files[0];
                reader.readAsDataURL(imgFile);
                img_result = 'true'
                //업로드한 이미지의 URL을 reader에 등록

            })
        }


    </script>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="right-side" style="text-align: center;display: block">

            <div class="posting-box">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV953LLT612kt6UhgdxG9ruFiReF9iqV5Qjw&usqp=CAU"
                     id="img_section" style="width: 400px; height: 320px;">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="upload_file" style="display: none">
                    <label for="upload_file">업로드</label>
                </div>
                <script>
                    preview()
                </script>


            </div>

            <form action="#">
                <div class="input-box" style="display: block;text-align: center;">
                    <input type="text" placeholder="내새끼의 이름을 적어주세요" id="name">
                </div>

                <div class="input-box" style="display: block;text-align: center;">
                    <input type="text" placeholder="태그를 입력해주세요. ex)#펫스타그램#강아지#고양이" id="type">

                </div>
                <div class="input-box message-box" style="display: block;text-align: center;">
                    <textarea placeholder="남기고싶은 메세지를 작성해주세요" id="note"></textarea>
                </div>
                <div class="button" style="display: block;text-align: center;">
                    <!--                    간격조정 div-->
                    <div style="height: 10px">
                    </div>

                    <label onclick="petadd()" style="padding: 20px"> 등록하기</label>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
